.cards {
  padding: 15px 0 36px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 17px;
  padding: 0;
  margin: 0;
}

.cards__list-items {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.cards__image {
  width: 282px;
  height: 282px;
}

.cards__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

.cards__name {
  font-size: 24px;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.cards__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  flex-shrink: 0;
}

.cards__like-button:hover {
  transition: 0.3s linear;
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 637px) {
  .cards {
    padding-top: 0;
  }
}

@media screen and (max-width: 568px) {
  .cards {
    margin: 0;
  }

  .cards__list {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    padding-bottom: 48px;
  }
}
