.footer__copywrite {
  color: #545454;
  font-size: 18px;
  margin: 67px 884px 60px 200px;
  line-height: 21.78px;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 775px) {
  .footer__copywrite {
    margin-left: 100px;
    font-size: 16px;
    line-height: 19.5px;
    margin: 58px 100px;
    text-align: left;
  }
}

@media screen and (max-width: 568px) {
  .footer__copywrite {
    font-size: 14px;
    line-height: 16.94px;
    margin: 48px 0 36px 145px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copywrite {
    margin: 48px 19px 36px;
    line-height: 16.94px;
    font-size: 14px;
  }
}
