.header {
  border-bottom: rgb(128, 128, 128, 0.7) 1px solid;
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 775px) {
  .header {
    max-width: 75%;
  }
}

@media screen and (max-width: 568px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    margin-left: 150px;
    width: 126px;
    height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-width: 100%;
  }

  .header__logo {
    margin: 28px 167px 32px 27px;
  }
}
