.header {
  border-bottom: 1px solid #545454;
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 775px) {
  .header {
    max-width: 75%;
  }

  .header__line {
    width: 580px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-width: 100%;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 167px 32px 27px;
  }

  .header__line {
    margin-top: 32px;
    width: 320px;
    margin-bottom: 6.25px;
    margin-left: 0;
  }
}
