.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  max-width: 430px;
  box-sizing: border-box;
}

.modal__close {
  background-image: url("../images/Close-Icon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: black;
  width: 330px;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  margin: 0 0 54px;
}

.modal__input {
  height: 27px;
  border: 1px;
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  padding: 0;
}

.modal__button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 18px;
  border: none;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__preview-container {
  position: relative;
  top: 90px;
  margin: 0 auto 0;
}

.modal__preview-heading {
  width: 291px;
  height: 12px;
  color: white;
  font-family: Inter, Arial, sans-serif;
  size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 568px) {
  .modal__container {
    padding: 25px 22px;
    max-width: 238px;
    box-sizing: content-box;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 245px;
    top: -55px;
  }

  .modal__heading {
    width: 238px;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 76px;
  }

  .modal__input {
    height: 26px;
    margin-bottom: 30px;
  }

  .modal__button {
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
  }
}
