.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
}

.modal_opened {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.modal__close {
  background-image: url("../images/Close-Icon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__heading {
  color: black;
  width: 330px;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  margin: 0 0 54px;
}

.modal__title {
  height: 27px;
  width: 358px;
  border: 1px;
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}

.modal__description {
  width: 358px;
  height: 27px;
  border: 1px;
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 17px;
}

.modal__button {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 250px;
    top: -55px;
  }

  .modal__heading {
    width: 238px;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 76px;
  }

  .modal__title {
    width: 238px;
    height: 26px;
    margin-bottom: 30px;
  }

  .modal__description {
    width: 238px;
    height: 26px;
    margin-bottom: 46px;
  }

  .modal__button {
    width: 236px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
