.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: baseline;
  margin-right: 12px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px white solid;
}

.profile__edit-button:hover {
  transition: 0.3s linear;
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  transition: 0.3s linear;
  cursor: pointer;
  opacity: 0.6;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 18px 0 24px;
  width: max-content;
  background-repeat: no-repeat;
}

.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 16px 0 0 24px;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
}

.profile__image {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 40px 0 51px;
}

@media screen and (max-width: 775px) {
  .profile {
    justify-content: center;
  }

  .profile__info {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .profile__edit-button {
    width: 21px;
    height: 21px;
  }

  .profile__add-button {
    right: 118px;
    margin: 75px 0 0;
  }

  .profile__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    align-items: center;
    width: min-content;
  }

  .profile__add-button {
    position: sticky;
    margin: 36px 0;
  }

  .profile__description {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    display: grid;
    justify-items: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    border-style: solid;
  }

  .profile__add-button {
    padding: 0 136px 0;
    position: initial;
  }

  .profile__title {
    line-height: 26.63px;
    font-size: 24px;
  }

  .profile__description {
    line-height: 22px;
    font-size: 16px;
    margin-left: 0;
  }

  .profile__image {
    margin: 35px 0 35px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding: 0;
  }

  .profile__info {
    margin: 0;
    align-items: baseline;
  }

  .profile__add-button {
    margin: 36px 19px 36px;
    position: static;
  }

  .profile__description {
    width: 282px;
    margin: 14px auto 0;
  }
}
