.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 32px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: baseline;
  grid-gap: 7px 17px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px white solid;
}

.profile__edit-button:hover {
  transition: 0.3s linear;
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  background-size: 22px;
}

.profile__add-button:hover {
  transition: 0.3s linear;
  cursor: pointer;
  opacity: 0.6;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 373px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 373px;
}

.profile__image {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

@media screen and (max-width: 775px) {
  .profile {
    justify-content: center;
  }

  .profile__info {
    flex-basis: min-content;
  }

  .profile__edit-button {
    width: 21px;
    height: 21px;
  }

  .profile__add-button {
    margin: 75px 0 0;
  }

  .profile__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
  }

  .profile__info {
    align-items: center;
    width: min-content;
  }

  .profile__edit-button {
    margin-top: 20px;
  }

  .profile__add-button {
    margin: 36px 0 0;
  }

  .profile__title {
    font-size: 28px;
    margin-top: 20px;
  }

  .profile__description {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    display: grid;
    justify-items: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    padding: 0 136px 0;
    position: initial;
  }

  .profile__title {
    line-height: 27px;
    font-size: 24px;
  }

  .profile__description {
    line-height: 17px;
    font-size: 16px;
    margin-left: 0;
  }

  .profile__image {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 36px;
  }

  .profile__info {
    margin: 0;
    align-items: baseline;
    grid-gap: 14px;
  }

  .profile__title {
    font-size: 22px;
    margin-top: 30px;
  }

  .profile__description {
    margin: 0 auto 0;
    font-size: 14px;
  }
}
